Indexer/__pycache__/indexer.cpython-314.pyc
Indexer/__pycache__/searcher.cpython-314.pyc
indice_musica.pkl
Orientacion.pdf
indice_musica.json
Crawler/__pycache__/__init__.cpython-314.pyc
Crawler/__pycache__/crawler.cpython-314.pyc
Indexer/__pycache__/indexer.cpython-314.pyc
Indexer/__pycache__/indexer.cpython-314.pyc
requirements_crawler.txt
instrucciones.txt
Database/crawled_data/crawler.log
Database/crawled_data/crawled_songs_20260505_122432.json
Database/crawled_data/crawled_songs_final.json
indice_musica.vectorizer.pkl
.gitignore
indice_musica.embeddings.npz
indice_musica.svd.pkl
